<html>
    <head>
        <script src="eel.js"></script>
        <script>
            function compute() {
                var textbox = document.getElementById("input");
                text = textbox.value;
                eel.sort(text);
            }

            eel.expose(showAnswers);
            function showAnswers(answer) {
                var outputDiv = document.getElementById("result");
                outputDiv.innerHTML = "Result: " + answer;
            }
        </script>
    </head>
    <body>
        <h1>Number Sorter</h1>
        <p>
            Enter numbers here:
            <input type="text" id="input">
            <button onclick="compute()">Compute</button>
        </p>
        <div id="result">

        </div>
    </body>
</html>