<!doctype html>
<html>
    <head>
        <script src="eel.js"></script>
        <title>Admin</title>
        <link rel="stylesheet" href="admin.css">
        <script>
            function calltName(){
                eel.picktName();
            }

            eel.expose(printtName);
            function printtName(tName){
                var outputDiv = document.getElementById("tNameArea");
                console.log(tName);
                outputDiv.innerHTML = tName;
                eel.pickcName();
            }
        </script>
    </head>
    <body onload="calltName()">
        <div id="top">
        <h1>出欠管理システム</h1>
        <p id="tNameArea"></p>
        </div>
        <div>
            <p>
                <table id="adminTable">
                    <tr id="clT1"><td id="day"></td><td id="clPeriod"></td><td id="clName"></td><td id="clConfig"><a href="classConfig.html">講義設定</a></td><td id="IOList"><a href="showIOList.html">出欠リスト</a></td><td id="clStart"><a href="checkin.html">受付開始</a></td></tr>
                    <tr id="clT2"><td id="day"></td><td id="clPeriod"></td><td id="clName"></td><td id="clConfig"><a href="classConfig.html">講義設定</a></td><td id="IOList"><a href="showIOList.html">出欠リスト</a></td><td id="clStart"><a href="checkin.html">受付開始</a></td></tr>
                    <tr id="clT3"><td id="day"></td><td id="clPeriod"></td><td id="clName"></td><td id="clConfig"><a href="classConfig.html">講義設定</a></td><td id="IOList"><a href="showIOList.html">出欠リスト</a></td><td id="clStart"><a href="checkin.html">受付開始</a></td></tr>
                    <tr id="clT4"><td id="day"></td><td id="clPeriod"></td><td id="clName"></td><td id="clConfig"><a href="classConfig.html">講義設定</a></td><td id="IOList"><a href="showIOList.html">出欠リスト</a></td><td id="clStart"><a href="checkin.html">受付開始</a></td></tr>
                    <tr id="clT5"><td id="day"></td><td id="clPeriod"></td><td id="clName"></td><td id="clConfig"><a href="classConfig.html">講義設定</a></td><td id="IOList"><a href="showIOList.html">出欠リスト</a></td><td id="clStart"><a href="checkin.html">受付開始</a></td></tr>
                    <!-- <script src="adminTable.js"> -->
                    <script>
                    eel.expose(addcData);
                    function addcData(tc1Name, tc2Name, tc1ID, tc2ID){
                        //表を作成for{innerHTML}
                    }
                    </script>
                </table>
            </p>
        </div>
        <div class="underbar" id="datetime">
            <script src="timeshow.js">
            </script>
        </div>
    </body>
</html>