<!doctype html>
<html>
    <head>
        <script src="eel.js"></script>
        <title>AttendanceCheck</title>
        <link rel="stylesheet" href="checkin.css">
    </head>
    <script>
        function calltName(){
            eel.picktName();
            var clid = getParam("clid");
            console.log(clid);
            eel.clidSet(clid);
        }

        eel.expose(printtName);
        function printtName(tName){
            var outputDiv = document.getElementById("tNameArea");
            console.log(tName);
            outputDiv.innerHTML = tName;
            // eel.pickcName();
        }

        eel.expose(initialID);
        function initialID(cName, cID, cDay, cPeriod, CT1, CT2, LT1, LT2){
            console.log(cName);
            console.log(cDay);
            console.log(cPeriod);
            var outputcName = document.getElementById("cNameArea");
            outputcName.innerHTML = cName;
            var outputcDay = document.getElementById("cDayArea");
            outputcDay.innerHTML = cDay + "曜  " + cPeriod;
            eel.openIOcsv(cID, cName);
        }

        eel.expose(showIDinfo);
        function showIDinfo(stdID, stdName){
            console.log(stdID);
            console.log(stdName);
            var outputcName = document.getElementById("stdinfo");
            outputcName.innerHTML = stdID + "  " + stdName;
            sleep(1, function () {
                outputcName.innerHTML = "学生証をタッチしてください"
            });
        }

        eel.expose(showNo);
        function showNo(no, stdlen){
            var order = no + " / " + stdlen;
            var outputDiv = document.getElementById("sOrderArea");
            console.log(order);
            outputDiv.innerHTML = order;
        }

        eel.expose(showStatus);
        function showStatus(status){
            if(status == "出席"){
                var outputDiv = document.getElementById("statusArea");
                // "#44cca3"
                var statusName = '<p id="attendance">出席</p>';
                console.log(status);
                outputDiv.innerHTML = statusName;
                sleep(1.1, function () {
                    outputDiv.innerHTML = "";
                });
            }
            if(status == "遅刻"){
                var outputDiv = document.getElementById("statusArea");
                // "#c3cc44"
                var statusName = '<p id="tardiness">遅刻</p>';
                console.log(status);
                outputDiv.innerHTML = statusName;
                sleep(1.1, function () {
                    outputDiv.innerHTML = "";
                });
            }
            if(status == "欠席"){
                var outputDiv = document.getElementById("statusArea");
                // "#cc5844"
                var statusName = '<p id="absence">欠席</p>';
                console.log(status);
                outputDiv.innerHTML = statusName;
                sleep(1.1, function () {
                    outputDiv.innerHTML = "";
                });
            }
        }
        
        function NAbtn(){
            var outputDiv = document.getElementById("statusArea");
            var statusName = '<p id="na">⚠ 履修登録者ではないようです ⚠</p>';
            console.log(status);
            outputDiv.innerHTML = statusName;
            sleep(1.1, function () {
                outputDiv.innerHTML = "";
            });
        }

        function sleep(waitSec, callbackFunc) {
            var spanedSec = 0;
            var id = setInterval(function () {
                spanedSec++;
                // 経過時間 >= 待機時間の場合、待機終了。
                if (spanedSec >= waitSec) {
                    // タイマー停止
                    clearInterval(id);
                    // 完了時、コールバック関数を実行
                    if (callbackFunc) callbackFunc();
                }
            }, 1000);
        }

        function getParam(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var not = 0;
        function countbtn(){
            not++;
            if(not > 4){
                location.href="admin.html";
            }
        }
    </script>
    <body onload="calltName()">
        <div id="top">
            <h1>出欠管理システム</h1>
        </div>
        <div class="infoarea">
            <div class="namearea">
            <p id="tNameArea">読込中...</p>
            </div>
            <div class="btnarea">
                <button id="toadminbtn" onclick="countbtn()">管理画面へ</button>
            </div>
            <div class="btnareax">
                <button id="toadminbtnx" onclick="NAbtn()">偽の出席者</button>
            </div>
        </div>
        <div>
            <p id="cDayArea">日曜  0限</p>
            <p id="cNameArea">受付開始準備中</p>
            <br id="br">
            <p id="stdinfo">学生証をタッチしてください</p>
            <p id="sOrderArea"></p>
            <div id="statusArea"></div>
            
            
            
            
        </div>
        <div class="underbar">
            <p id="datetime">
                <script src="timeshow.js">
                </script>
            </p>
        </div>
    </body>
</html>