<!doctype html>
<html>
    <head>
        <script src="eel.js"></script>
        <title>ClassConfiguration</title>
        <link rel="stylesheet" href="classConfig.css">
    </head>
    <script>
        function calltName(){
            eel.picktName();
            var clid = getParam("clid");
            console.log(clid);
            eel.clidSet(clid);
        }

        eel.expose(printtName);
        function printtName(tName){
            var outputDiv = document.getElementById("tNameArea");
            console.log(tName);
            outputDiv.innerHTML = tName;
            // eel.pickcName();
        }

        function getParam(name, url){
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        eel.expose(initialValue);
        function initialValue(tccID, tccCT1, tccCT2, tccLT1, tccLT2){
            cosole.log(tccID);
            cosole.log(tccCT1);
            cosole.log(tccCT2);
            cosole.log(tccLT1);
            cosole.log(tccLT2);
        }
        
    </script>
    <body onload="calltName()">
        <div id="top">
        <h1>出欠管理システム</h1>
        <p id="tNameArea"></p>
        </div>
        <div>
            
        </div>
        <div class="underbar">
            <p id="datetime">
                <script src="timeshow.js">
                    
                </script>
            </p>
        </div>
    </body>
</html>