<html>
    <head>
        <script src="eel.js"></script>
        <title>Log In</title>
        <link rel="stylesheet" href="main.css">
        <script>
            
            function sendtData(){
                eel.registtData()();
            }

            //tID,tPWをmain.pyに渡す
            eel.expose(sendtDatatoPy)
            function sendtDatatoPy(){
                var tIDp = document.getElementById("id-input");
                var tPWp = document.getElementById("pw-input");
                var tData = [tIDp.value, tPWp.value];
                return tData;
            }

            
        </script>
    </head>
    <body>
        <h1>出欠管理システム</h1>
        <h2>カードをタッチしてください</h2>

        <p>            
            <form class="loginform">
                <dl>
                    <dt>教員ID</dt>
                    <dd><input id="id-input" type="text"></dd>
                    <dt>パスワード</dt>
                    <dd><input id="pw-input" type="password"></dd>
                </dl>
            </form>
            <button id="loginbtn" onclick="sendtData()">ログイン</button>
        </p>
    </body>
</html>