<html>
    <head>
        <script src="eel.js"></script>
        <title>Log In</title>
        <link rel="stylesheet" href="main.css">
        <script>
            eel.expose(readTextBox)
            function readTextBox() {
                var textbox = document.getElementById("box");
                return textbox.value;
            }

            function sendMessage() {
                var textbox = document.getElementById("box");
                eel.send(textbox.value)(processAcknowledgement);
            }

            function processAcknowledgement(result) {
                if (result == "ok") {
                    var textbox = document.getElementById("box");
                    textbox.value = "";
                }
            }

            function sendtData(){
                //tID,tPWをmain.pyに渡す
                var tID = document.getElementById("id-input");
                var tPW = document.getElementById("pw-input");
                var tData = [tID.value, tPW.value];
                eel.registtData(tData)();
            }

            
        </script>
    </head>
    <body>
        <h1>出欠管理システム</h1>
        <h2>カードをタッチしてください</h2>

        <p>            
            <form class="loginform">
                <dl>
                    <dt>教員ID</dt>
                    <dd><input id="id-input" type="text"></dd>
                    <dt>パスワード</dt>
                    <dd><input id="pw-input" type="password"></dd>
                </dl>
            </form>
            <button id="loginbtn" onclick="sendtData()">ログイン</button>
        </p>
    </body>
</html>