<!doctype html>
<html>
    <head>
        <script src="eel.js"></script>
        <title>ClassConfiguration</title>
        <link rel="stylesheet" href="setTemporaryClass.css">
    </head>
    <script>
        let headtime = 0;
        function calltName(){
            eel.picktName();
            var clid = getParam("clid");
            console.log(clid);
            eel.clidSet(clid);
        }

        eel.expose(printtName);
        function printtName(tName){
            var outputDiv = document.getElementById("tNameArea");
            console.log(tName);
            outputDiv.innerHTML = tName;
            // eel.pickcName();
        }

        eel.expose(initialID);
        function initialID(cConfig, cDay, cPeriod){
            console.log(cConfig);
            console.log(cDay);
            console.log(cPeriod);
            // gettccT();
        }

        // async function gettccT(){
        //     let val = await eel.clidSet()();
        //     console.log(val)
        // }

        // eel.expose(initialCT);
        // function initialCT(tccCT1, tccCT2){
        //     cosole.log(tccCT1);
        //     cosole.log(tccCT2);
        // }

        // eel.expose(initialLT);
        // function initialLT(tccLT1, tccLT2){
        //     cosole.log(tccLT1);
        //     cosole.log(tccLT2);
        // }
        
        function getParam(name, url){
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function setcConfig(){
            location.href="admin.html";
        }

    </script>
    <body onload="calltName()">
        <div id="top">
            <h1>出欠管理システム</h1>
        </div>
        <div class="infoarea">
            <div class="namearea">
            <p id="tNameArea">読込中...</p>
            </div>
            <div class="btnarea">
            <button id="toadminbtn" onclick="location.href='admin.html'">管理画面へ</button>
            </div>
        </div>
        <div>
            <p>講義名：<input type="text" name="class"></p>

            <p>
                <select name="day">
                <option value="M" >月曜</option>
                <option value="Tu">火曜</option>
                <option value="W" >水曜</option>
                <option value="Th">木曜</option>
                <option value="F" >金曜</option>
                </select>

                <select name="period">
                <option value="1_">1限</option>
                <option value="2_">2限</option>
                <option value="3_">3限</option>
                <option value="4_">4限</option>
                <option value="5_">5限</option>
                <option value="12_">1,2限</option>
                <option value="23_">2,3限</option>
                <option value="34_">3,4限</option>
                <option value="45_">4,5限</option>
                </select></p>

            <input type="time" name="PreS">
            から
            <input type="time" name="PreE">
            まで出席扱い</p>
            <input type="time" name="LateS">
            から
            <input type="time" name="LateE">
            まで遅刻扱い</p>
        
            <br>
            <div class="btnarea2">
                <button id="toadminbtn2" onclick="setcConfig()">臨時の講義を作成</button>
            </div>
        </div>
        <div class="underbar">
            <p id="datetime">
                <script src="timeshow.js">
                    
                </script>
            </p>
        </div>
    </body>
</html>