<!doctype html>
<html>
    <head>
        <script src="eel.js"></script>
        <script src="csv2table.js"></script>
        <title>showAttendanceList</title>
        <link rel="stylesheet" href="showIOList.css">
    </head>
    <script>
        eel.expose(getIOcsvName);
        function getIOcsvName(IOcsvName){
            console.log(IOcsvName);
            var tmp = document.getElementsByClassName("csv2table");
            var val = IOcsvName;
            tmp[0].setAttribute("data-src",val);
        }

        function calltName(){
            eel.picktName();
            var clid = getParam("clid");
            console.log(clid);
            eel.generateIOcsvName(clid)
        }

        eel.expose(printtName);
        function printtName(tName){
            var outputDiv = document.getElementById("tNameArea");
            console.log(tName);
            outputDiv.innerHTML = tName;
            // eel.pickcName();
        }

        function getParam(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    </script>
    <body onload="calltName()">
        <div id="top">
            <h1>出欠管理システム</h1>
        </div>
        <div class="infoarea">
            <div class="namearea">
            <p id="tNameArea">読込中...</p>
            </div>
            <div class="btnarea">
            <button id="toadminbtn" onclick="location.href='admin.html'">管理画面へ</button>
            </div>
        </div>
        <div class="tablecsv">
            <section class="csv2table" data-label="rice"></section>
        </div>
        <div class="underbar">
            <p id="datetime">
                <script src="timeshow.js">
                </script>
            </p>
        </div>
    </body>
</html>