body{
    background-color: #ececec;
}

.loginform{
    padding: auto;
    margin: auto;
}

form dl dt{
    width: 165px;
    padding: 10px 0;
    float:left;
    clear:both;
}

form dl dd{
    padding: 10px 0;
}

#loginbtn{
    font-size: 1em;
    padding: 5px 20px 5px 20px;
    position: relative;
    float: right;
}